@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Roboto", Helvetica, Verdana, Arial, sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FS-NAVBAR: clamp(1.2rem, 2.4vh, 1.7rem);

  --FS-LOGO-NAME-LG: clamp(1.8rem, 3vh, 2.3rem);
  --FS-LOGO-LG: clamp(2.6rem, 3.8vh, 3.1rem);

  --FS-HEADER-NAME-SM: clamp(1.2rem, 2.4vh, 1.7rem);
  --FS-HEADER-NAME-LG: clamp(1.5rem, 2.7vh, 2rem);

  /* COLORS */
  --MAIN-BGCOLOR: #7a77b9;
  --BODY-BGCOLOR: #f6f6f6;
  --ACCENT-COLOR: #ea7186;
  --HEADER-BGCOLOR: #ffffff;
  --CARD-BGCOLOR: #ffffff;
  --FONT-COLOR-DARK: #000000;
  --FONT-COLOR-DARK-GRAY: hsl(27, 5%, 45%);
  --FONT-COLOR-LIGHT: #ffffff;
  --LINE-DIVIDER-COLOR: #e7e5e4;
  --LINK-COLOR: #ffffff;
  --LINK-HOVER: #7471a3;
  --LINK-ACTIVE: #bd9dea;
  --MAX-LINES: 3;

  /* MAIN BGCOLOR - FOR SIDEBAR, BUTTONS */
  /* BOX SHADOW */
  --HEADER-BOX-SHADOW: 0px 4px 7px 2px rgba(0, 0, 0, 0.07);
  --CARDS-BOX-SHADOW: 0 3px 8px rgba(0, 0, 0, 0.09);

  /* IMAGE SIZES */
  --AVATAR-IMG-WIDTH-SMALL: 3rem;
  --AVATAR-IMG-WIDTH-LARGE: 5rem;
}

/* || GENERAL STYLES */

html {
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
}

.projects__label,
.announcements__label,
.trending__label {
  margin-bottom: 15px;
}

/* ICON */

.material-symbols-rounded {
  font-variation-settings: "FILL" 1;
  vertical-align: middle;
}

.material-symbols-rounded.nav__icon {
  font-size: var(--FS-NAVBAR);
}

.material-symbols-rounded.header__icon,
.material-symbols-rounded.projects__icon {
  font-variation-settings: "FILL" 0;
  padding: 5px;
}

.material-symbols-rounded.header__icon:hover,
.material-symbols-rounded.projects__icon:hover {
  background-color: hsl(0, 0%, 92%);
  border-radius: 50px;
}

.header__icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* || BLOCKS */ /* aka components */

.page-container {
  display: grid;
  grid-template-columns: 350px 2fr 1fr;
  background-color: var(--BODY-BGCOLOR);
}

/* || HEADER */ /*header block*/

.header {
  background-color:var(--HEADER-BGCOLOR);
  grid-column: 2 / 4;
  padding-bottom: .5rem;
  box-shadow: var(--HEADER-BOX-SHADOW);
}

.header__group-search {
  display: flex;
  align-items: center;
  margin: 10px 50px;
  justify-content: space-between;
}

.header__search {

  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1; /* make this grow to fill the remaining space */
}

.header__search-bar {
  flex-grow: 1; /* make this grow to fill the remaining space */
  border: none;
  outline: none;
  background: none;

  background-color: var(--BODY-BGCOLOR);
  border-radius: 25px;
  padding: 0 8px;
  line-height: 30px;
}

.header__search-bar:hover,
.header__search-bar:focus {
  outline: 1px solid var(--MAIN-BGCOLOR);
}

.header__profile {
  margin-left: min(15%, 200px);
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__img--small {
  width: var(--AVATAR-IMG-WIDTH-SMALL);
  height: auto;
}

.header__name {
  font-size: var(--FS-HEADER-NAME-SM);
  font-weight: 600;
}

.header__group-display {
  display: flex;
  align-items: center;
  margin: 10px 50px;
}

.header__display {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__img--large {
  width: var(--AVATAR-IMG-WIDTH-LARGE);
  height: auto;
}

.header__greeting-user-group {
  display: flex;
  flex-direction: column;
}

.header__greeting {
  font-weight: 600;
}

.header__name--large {
  font-size: var(--FS-HEADER-NAME-LG);
  font-weight: 600;
}

.header__actions {
  margin-left: auto;

  display: flex;
  gap: 15px;
}

.button {
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: var(--MAIN-BGCOLOR);
  color: var(--FONT-COLOR-LIGHT);
  padding: 0.625em 1em;
  min-width: 6.25em;
  cursor: pointer;
}

.button:hover {
  background-color: var(--LINK-HOVER);
}

.button__icon {
  margin-right: 0.3rem;
}

/* || SIDEBAR */

.sidebar {
  background-color: var(--MAIN-BGCOLOR);
  grid-column: 1;
  grid-row: 1 / 3;
  padding: 1.5rem;
}

.sidebar__title {
  font-size: var(--FS-LOGO-NAME-LG);
  color: var(--FONT-COLOR-LIGHT);
  margin-bottom: 2.5rem;
  vertical-align: middle;
  gap: 10px;
}

.sidebar__logo {
  font-size: var(--FS-LOGO-LG);
}

.nav {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-size: var(--FS-NAVBAR);
}

.nav__menu {
  display: grid;
  row-gap: 20px;
}

.nav__settings {
  display: grid;
  row-gap: 20px;
}

.nav__item {
  list-style: none;
}

.nav__icon {
  margin-right: 20px;
}

.nav__item:hover,
.nav__item:active {
  background-color: var(--LINK-HOVER);
}

.nav__link {
  text-decoration: none;
  color: var(--LINK-COLOR);
  padding: 10px 10px;
}

/* || MAIN */

.main {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 30px 30px 30px 20px;
}

/* - PROJECTS */

.projects {
  grid-row: 1 /4;
}

.projects__cards-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
}

.projects__card {
  background-color: var(--CARD-BGCOLOR);
  padding: 1rem;
  border-left: 0.5rem solid var(--ACCENT-COLOR);
  border-radius: 0.5rem;
  box-shadow: var(--CARDS-BOX-SHADOW);
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.projects__card-title {
  line-height: 1.2;
  margin: 0.5em 0;
}

.projects__card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.projects__card-desc {
  color: var(--FONT-COLOR-DARK-GRAY);
  line-height: 1.5;
}

.projects__card-actions {
  margin-top: auto;
  padding-right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  cursor: pointer;
}

/* - ANNOUNCEMENTS */

.announcements {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.announcements__cards-group {
  background-color: var(--CARD-BGCOLOR);
  border: 0.5px solid var(--LINE-DIVIDER-COLOR);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: grid;
  box-shadow: var(--CARDS-BOX-SHADOW);
}

.announcements__line-divider {
  border-top: 1px solid var(--LINE-DIVIDER-COLOR);
  margin: 1rem 0;
}

.announcements__card {
  background-color: white;  
}

.announcements__card-title {
  line-height: 1.2;
  margin: 0.5em 0;
}

.announcements__card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.announcements__card-desc {
  color: var(--FONT-COLOR-DARK-GRAY);
  margin-bottom: 5px;
  line-height: 1.5;

 /* Set maximum number of lines of text */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--MAX-LINES);
}

/* - TRENDING */

.trending {
  display: grid;
  grid-template-columns: 1fr;
}

.trending__cards-group {
  background-color: var(--CARD-BGCOLOR);
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: var(--CARDS-BOX-SHADOW);
}

.trending__card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.trending__card-username {
  margin: 0.3rem 0;
}

.trending__card-text {
  color: var(--FONT-COLOR-DARK-GRAY);
}

.trending__card-img--small {
  width: var(--AVATAR-IMG-WIDTH-SMALL);
  height: auto;
  margin-left: 5%;
}
